---
name: CI

"on":
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: "0 0 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
      - uses: actions/checkout@v4
      - name: Lint GitHub Actions
        uses: eifinger/actionlint-action@v1
      - uses: eifinger/setup-rye@v1
        with:
          enable-cache: true
      - name: Pin python-version ${{ matrix.python-version }}
        run: rye pin ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          rye sync --no-lock
      - name: Lint
        run: |
          rye run pre-commit run --all-files
  hacs:
    name: HACS Action
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v4"
      - name: HACS Action
        uses: "hacs/action@main"
        with:
          category: "integration"
  hass_validate:
    name: Hassfest
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v4"
      - name: Hassfest
        uses: home-assistant/actions/hassfest@master
  noop-release:
    name: Semantic Release Noop
    runs-on: ubuntu-latest
    needs:
      - build
      - hacs
      - hass_validate
    if: github.ref != 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Python Semantic Release Noop
        uses: python-semantic-release/python-semantic-release@v9.3.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          repository_username: __token__
          repository_password: ${{ secrets.PYPI_TOKEN }}
          additional_options: "--noop"
  release:
    name: Semantic Release
    runs-on: ubuntu-latest
    needs:
      - build
      - hacs
      - hass_validate
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Python Semantic Release
        uses: python-semantic-release/python-semantic-release@v9.3.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          repository_username: __token__
          repository_password: ${{ secrets.PYPI_TOKEN }}
